<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa2" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="https://gitlab.com/diplomacy-things/diplomacy-score-calculators" target="_blank" rel="noopener noreferrer"> <!-- https://stackoverflow.com/a/15551842/2521402 -->
  	<div>
  		<p>website source code</p>
  	</div>
  </a>
    <div>{{ partialCached "social/follow.html" . }}</div>
  </div>
</footer>
