{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image_class := site.Params.featured_image_class | default "cover bg-top" }}
  <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}');">
    {{ $cover_dimming_class := site.Params.cover_dimming_class | default "bg-black-60" }}
    <div class="{{ $cover_dimming_class }}">
      {{ partial "site-navigation.html" .}}
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-m {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
